<div class="login_header">
    <img width="200px" src="assets/spotify-green.png" alt="login_logo">
</div>

<div style="overflow: scroll; height: 90vh;">
    <div class="login_container">
        <div class="login_heading">
            <h1>Log in to Spotify</h1>
        </div>
        <div class="login_google">
            <h6>Continue with Google</h6>
        </div>
        <div class="login_google">
            <h6>Continue with Google</h6>
        </div>
        <div class="login_google">
            <h6>Continue with Google</h6>
        </div>
        <div class="login_google">
            <h6>Continue with Google</h6>
        </div>
        <hr style="color: white; width: 350px; margin: 40px;">
        <div>
            <label for=""><strong>Email or Username </strong></label><br>
            <input type="text" placeholder="Email or Username">
        </div>
        <div>
            <label for=""><strong>Password</strong></label><br>
            <input type="text" placeholder="password">
        </div>
        <div class="remember_me">
            <input style="width: 20px;" type="checkbox" name="" id="" value="Remember me">
            <small style="color: white;">Remember me</small>
        </div>
        <div>
            <button><strong>Log In</strong></button>
        </div>
        <strong style="text-decoration:underline; margin-top: 20px; color: white;">Forgot your password ?</strong>
        <div>
            <hr style="color: white; width: 350px;">
            <strong style="color:lightgray;text-align: center;">Don't have an account? &nbsp;<span
                    style="color:white;">Sign
                    up for Spotify</span></strong>
        </div>

    </div>
</div>